*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: #f5f7fa;
  color: #222831;
  
}

header {
  background-color: white;
  padding: 20px 40px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header{
  margin: auto;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  text-align: center;
  padding: 10px 0px;
}

.logo-img{
  max-width: 150px;
}

.menu{
  display: flex;
  align-items: center;
}

.caixa-menu{
  align-content: center;
}

i#burger{
  background-color: white;
  color: #0d47a1;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  cursor: pointer;
  font-size: xx-large;
  display: none;
}


i#fechar{
  background-color: white;
  color: #0d47a1;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  cursor: pointer;
  font-size: xx-large;
  display: none;
}

nav{
  margin-right: 15px;
}

    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #222831;
      font-weight: 500;
    }

.btn {
  padding: 10px 20px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transform: all 0.1s linear;
}

.btn:hover{
  transform: scale(1.03);
}

.btn-menu{
  background-color: white;
  
  cursor: pointer;
}

.home{
  background-image: url(img/capa.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
}

.container-home{
  max-width: 1150px;
  margin: auto;
  
  
}

.info-home{
  max-width: 600px;
  
}

.info-home h1{
  font-size: 2.5rem;
      margin-bottom: 20px;
      color: white;
}

.info-home p{
  font-size: 1.3rem;
      margin-bottom: 30px;
      color: #d2d2d2;
}

.home-buttons .btn{
  margin-right: 20px;
}

.subtitulo{
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.solucoes{
  padding: 60px 40px;
  background-color: #f5f7fa;
  text-align: center;
}

.cards{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  width: 350px;
  overflow: hidden;
}

.img-card{
  max-height: 230px;
}

.img-card img{
  max-height: 230px;
  width: 100%;
}

.title-card{
  padding: 20px;
  color: #0d47a1;
  text-align: left;
}

.text-card{
  text-align: left;
  padding: 0px 20px 20px 20px;
  
}

.sobre{
  padding: 60px 40px;
  background-color: #fff;
  text-align: center;
}

.container-sobre{
  max-width: 1150px;
  margin: auto;
  display: flex;
}

.col-left{
  width: 50%;
  text-align: left;
  
}

.col-left h3{
  margin-bottom: 15px;
  font-size: 1.6rem;
  color: #0d47a1;
}

.col-left p{
  font-size: 1.3rem;
  padding: 10px 0px;
  line-height: 2rem;
}

.col-right{
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  gap: 10px;
}

.box-card-sobre{
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.icon{
  margin-right: 10px;
}

.box-card-sobre h4{
  font-size: 1.3rem;
  margin-bottom: 5px;
  height: 24px;
  display: flex;
}

.box-card-sobre p{
  font-size: 0.9rem;
  
}

.fale-conosco{
  padding: 60px 40px;
  /*background-color: #0d47a1;*/
  background-color: #FFF;
}

.fale-conosco h2{
  /*color: #fff;*/
}

.contact-form{
  max-width: 900px;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #d2d2d2;
}

.contact-form h3{
  color: #0d47a1;
}

.contact-form p {
  padding: 20px 0px;
  color: #808080;
}

.contact-form input {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
}

.contact-form label {
  font-weight: 600;
}

.contact-form textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
  resize: vertical;
}

.form-actions{
  display: flex;
  justify-content: right;
  gap: 10px;
}

.form-bt{
  margin-top: 10px;
}

.form-btReset{
  background-color: #f0f0f0;
  color: #000;
}

.contato{
  background-color: #222831;
  padding: 60px 40px;
  text-align: left;
  color: white;
}

.box-contato{
  max-width: 1150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

h5{
  font-weight: normal;
  font-size: 1.1rem;
  margin-bottom: 15px;

}

.midias-sociais img{
  filter: invert();
  margin-right: 5px;
}

.midias-sociais img:hover{
  filter: contrast(20%);
}

.info{
  display: flex;
  flex-direction: column;
}

.info a{
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: normal;
}

.info a:hover{
  text-decoration: underline;
}

li{
  list-style: none;
  font-weight: normal;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

li img{
  filter: invert();
  margin-right: 10px;
}

footer{
  background-color: #0d47a1;
      color: white;
      padding: 30px 40px;
      text-align: center;
}

@media (max-width: 825px) {
      header {
        flex-direction: column;
        padding: 10px 40px;
      }
      .header{
        align-items: center;
      }
      i#burger{
        display: block;
      }
      .menu{
        display: none;
        background-color: white;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        justify-content: right;
        flex-direction: column;
      }
      i#fechar{
        display: block;
      }
      .botao-fechar{
        padding: 20px 40px;
        display: flex;
        justify-content: right;
        width: 100%;
      }
      nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
      }
      nav a{
        font-weight: 500;
        font-size: 1.5rem;
        color: #0d47a1;
        text-align: right;
        margin: 0px;
        padding: 10px 40px;
      }
      .btn-header{
        width: 80%;
        margin: 5rem;
      }
      .home h1 {
        font-size: 2rem;
      }
      .home p {
        font-size: 1rem;
      }
      .home-buttons{
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }
      .home-buttons .btn{
        margin: 0;
        padding: 10px;
      }
      .sobre{
        padding: 40px;
      }
      .container-sobre{
        flex-direction: column;
      }
      .col-left{
        width: 100%;
      }
      .col-left h3{
        margin-bottom: 15px;
        font-size: 1.5rem;
      }
      .col-left p{
        font-size: 1.2rem;
        padding: 10px 0px;
        line-height: 1.4rem;
      }
      .col-right{
        width: 100%;
        margin-top: 40px;
      }
      .box-card-sobre h4{
        font-size: 1rem;
      }
      .solucoes{
        padding: 40px;
      }
      .img-card{
        height: 150px;
        overflow: hidden;
      }
      .box-contato{
        flex-direction: column;
        gap: 30px;
      }
    }